<configuration>

	<springProperty scope="context" name="APP_NAME" source="info.artifact" />
	<springProperty scope="context" name="APP_VERSION" source="info.version" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - C:%X{customerId} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<appender name="STASH"
		class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<destination>192.168.1.3:54321</destination>

		<encoder
			class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
			<providers>
				<mdc /> <!-- MDC variables on the Thread will be written as JSON fields -->
				<context /> <!--Outputs entries from logback's context -->
				<version /> <!-- Logstash json format version, the @version field in the output -->
				<logLevel />
				<loggerName />

				<pattern>
					<pattern>
						{
						"appName": "${APP_NAME}",
						"appVersion": "${APP_VERSION}"
						}
					</pattern>
				</pattern>

				<threadName />
				<message />

				<logstashMarkers /> <!-- Useful so we can add extra information for specific log lines as Markers -->
				<arguments /> <!--or through StructuredArguments -->

				<stackTrace />
			</providers>
		</encoder>
	</appender>

	<!-- Our logger writes to file, console and sends the data to Logstash -->
	<!-- <logger name="ro.fortsoft.elk.testdata" level="INFO" additivity="false"> -->
	<!-- <appender-ref ref="STASH" /> -->
	<!-- </logger> -->

	<root level="info">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="STASH" />
	</root>
</configuration>